@import 'variables'

::-webkit-scrollbar
  visible none

html
  font-family 'Fira Sans', sans-serif
  font-weight 500
  height 100vh
  max-height 100vh
  max-width 100vw
  width 100vw
body
  height 100%
  max-height 100%
  max-width 100%
  width 100%

.jolt
  &-container
    height 100%
    max-height 100%
    max-width 100%
    width 100%
  &-Home
    -webkit-flex-flow column nowrap
    -webkit-justify-content flex-start
    display -webkit-flex
    display flex
    flex-flow column nowrap
    height 100%
    justify-content flex-start
    max-width 100%
    width 100%
  &-Navbar
    -webkit-flex-basis 100%
    flex-basis 100%
    height 10%
    max-height 10%
    max-width 100%
    width 100%

    &-List
      -webkit-flex-basis 100%
      -webkit-align-content center
      -webkit-align-items center
      -webkit-flex-flow row nowrap
      -webkit-justify-content center
      -webkit-order 0
      align-content center
      align-items center
      background $material-blue-grey
      display -webkit-flex
      display flex
      flex-basis 100%
      flex-flow row nowrap
      height 100%
      justify-content center
      max-height 100%
      max-width 100%
      order 0
      width 100%

      &-Icon
        -webkit-align-content center
        -webkit-align-items center
        -webkit-align-self center
        -webkit-flex-basis 10%
        -webkit-justify-content center
        align-content center
        align-items center
        align-self center
        display flex
        display -webkit-flex
        flex-basis 10%
        height 100%
        justify-content center
        max-height 100%
        max-width 10%
        width 10%;

        &-icon
          max-height 100%
          max-width 100%
          width 100%
      &-Item
        -webkit-align-content center
        -webkit-align-items center
        -webkit-align-self center
        -webkit-flex-basis 45%
        -webkit-justify-content center
        align-content center
        align-items center
        align-self center
        display flex
        display -webkit-flex
        flex-basis 45%
        height 100%
        justify-content center
        max-height 100%
        max-width 45%
        width 45%

          &-content
            -webkit-align-self center
            align-self center
  &-content
    -webkit-flex-basis 100%
    -webkit-align-items stretch
    -webkit-flex-flow row nowrap
    -webkit-justify-content flex-start
    -webkit-order 1
    align-items stretch
    display -webkit-flex
    display flex
    flex-basis 100%
    flex-flow row nowrap
    height 90%
    justify-content flex-start
    max-height 90%
    max-width 100%
    order 1
    width 100%

    &-Sidebar
      -webkit-flex-basis 38%
      -webkit-order 0
      background $material-funk-purple
      flex-basis 38%
      height 100%
      max-width 38%
      min-height 100%
      order 0
      width 38%

      &-List
        -webkit-flex-basis 100%
        -webkit-flex-flow column nowrap
        -webkit-justify-content flex-start
        -webkit-order 0
        display -webkit-flex
        display flex
        flex-basis 100%
        flex-flow column nowrap
        justify-content flex-start
        height 100%
        max-width 100%
        min-height 100%
        order 0
        overflow-y scroll
        width 100%
      &-ListItem
        -webkit-align-content stretch
        -webkit-align-items stretch
        -webkit-flex-basis 90%
        -webkit-flex-flow column nowrap
        -webkit-justify-content flex-start
        align-content stretch
        align-items stretch
        background $material-red
        border-radius 2px
        box-shadow 0px 0px 0px $material-black, 0px 3px 6px $material-black
        display flex
        display -webkit-flex
        flex-basis 90%
        flex-flow column nowrap
        height 15%
        justify-content flex-start
        margin .25rem 0 .25rem .25rem
        max-width 96%
        min-height 15%
        padding-left 4%
        width 90%

        &-H1
          -webkit-align-self center
          -webkit-flex-basis 100%
          align-self center
          flex-basis 100%
          font-size .8rem
          height 25%
          margin .5rem 0rem .5rem .1rem
          max-height 25%
          max-width 100%
          width 100%
        &-text
          -webkit-align-self flex-end
          -webkit-flex-basis 100%
          align-self flex-end
          flex-basis 100%
          font-size .75rem
          height 45%
          margin .25rem 0rem .25rem .005rem
          max-height 45%
          max-width 100%
          width 100%
        @media only screen and (max-width: 768px)
          &-text
            font-size .6rem
        &-SubText
          -webkit-align-self flex-end
          -webkit-flex-basis 96%
          align-self flex-end
          flex-basis 96%
          font-size .48rem
          font-style italic
          height 30%
          margin .25rem 0rem 0rem .005rem
          max-height 30%
          max-width 96%
          padding-right 4%
          text-align -webkit-right
          text-align right
          width 96%
    &-Map
      -webkit-flex-basis 62%
      -webkit-order 1
      background $material-green
      flex-basis 62%
      height 100%
      max-height 100%
      max-width 62%
      order 1
      width 62%
