extends layout

block content
  #jolt-dev
  .jolt-Home
    nav.jolt-Navbar
      ul.jolt-Navbar-List
        li.jolt-Navbar-ListItem
          span.jolt-Navbar-ListItem-content
            | Bison
        li.jolt-Navbar-ListIcon
          img.jolt-bison-logo(src='assets/img/bison.svg' alt='Howard University bison logo')
        li.jolt-Navbar-ListItem
          span.jolt-Navbar-ListItem-content
            | Maps
    .jolt-content
      .trash
        .jolt-content-Sidebar
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
          .jolt-content-SidebarItem
            h1.jolt-content-SidebarItem-H1
              | Name
            p.jolt-content-SidebarItem-text
              | type
            span.jolt-content-SidebarItem-text
              | distance
        .jolt-content-Map
