extends layout

block content
  #jolt-root.jolt-container

  footer
    if (production)
      script(type='text/javascript').
        SystemJS.import('jolt/jolt.js');
    else
      script(type='text/javascript').
        SystemJS.production = false;
        SystemJS.trace = true;
        SystemJS.import('systemjs-hot-reloader').then(function(hr) {
          new hr.default('http://#{addr}:5776');
        });
        SystemJS.import('js/entry.js');
