doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,500italic,700')
    link(rel='stylesheet' type='text/css' href='https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css')
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    script(type='text/javascript' src='https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.js')
    script(type='text/javascript' src='assets/jspm_packages/system.js')
    script(type='text/javascript' src='jspm.config.js')
    if (production)
      script(src='js/jolt.js')
    block bundle
    title
      | jolt
  body.app-container
    block content
